SECRET_KEY=super_secreto_produccion_cambiar
DB_HOST=db
DB_PORT=5432
DB_NAME=labdb
DB_USER=labuser
DB_PASSWORD=labpass
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
#cambia lo de abajo :)
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_gmail
MAIL_DEFAULT_SENDER=tu_correo@gmail.com
